<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Farm-city
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-input placeholder="email" position="centre"></ion-input>
<ion-input placeholder="password" type="password" ></ion-input>



  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
  <section class="full-width">
    <header></header>
    <ion-button expand="full" color="secondary">sign-in</ion-button>
  </section>
  <p ><a  [routerDirection]="'forward'" [routerLink]="['/signup']">click here to sign-up</a> </p>
 <p>click here to forget password</p>

</ion-content>
